:host ::ng-deep .p-fieldset-legend {
  background: var(--bluegray-900);
  border: 1px solid var(--bluegray-100);
}

:host ::ng-deep .p-fieldset {
  background: var(--bluegray-900);
}

:host ::ng-deep .p-inputtext {
  background: var(--bluegray-700);
  border: 0;
}

::ng-deep .p-panelmenu .p-panelmenu-header > a {
  background: var(--bluegray-900);
  border: 0;
}

::ng-deep .p-panelmenu .p-panelmenu-content {
  background-color: var(--bluegray-900);
  border: 0;
}

::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight > a {
  background-color: var(--bluegray-700);
}
