<p-fieldset>
  <ng-template pTemplate="header">Lista de Clientes</ng-template>
  <p-table
    [value]="clientes"
    #dt1
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 50]"
    [paginator]="true"
    currentPageReportTemplate=" {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['nome', 'cliente', 'categoria', 'preco']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome" style="width: 15%">
          Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="cpf_cnpj" style="width: 25%">
          CPF/CNPJ <p-sortIcon field="cpf_cnpj"></p-sortIcon>
        </th>
        <th pSortableColumn="telefone" style="width: 25%">
          Telefone <p-sortIcon field="telefone"></p-sortIcon>
        </th>
        <th pSortableColumn="endereco" style="width: 25%">
          Endereço <p-sortIcon field="endereco"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of cols">
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter($any($event.target)?.value, col.field, 'contains')
            "
            [value]="$any(dt1.filters[col.field])?.value"
            [placeholder]="col.header"
            class="w-full"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field">
            {{ cliente[col.field] }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
