<p-fieldset>
  <ng-template pTemplate="header">Lista de Clientes</ng-template>
  <p-table
    [value]="clientes"
    #dt1
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['nome', 'cliente', 'categoria', 'preco']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome" style="width: 15%">
          Nome <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="cpf_cnpj" style="width: 25%">
          CPF/CNPJ <p-sortIcon field="cpf_cnpj"></p-sortIcon>
        </th>
        <th pSortableColumn="telefone" style="width: 25%">
          Telefone <p-sortIcon field="telefone"></p-sortIcon>
        </th>
        <th pSortableColumn="endereco" style="width: 25%">
          Endereço <p-sortIcon field="endereco"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt1.filter($any($event.target)?.value, 'nome', 'contains')"
            [value]="$any(dt1.filters['nome'])?.value"
            placeholder="Nome"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter($any($event.target)?.value, 'cpf_cnpj', 'contains')
            "
            [value]="$any(dt1.filters['cpf_cnpj'])?.value"
            placeholder="CPF/CNPJ"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter($any($event.target)?.value, 'telefone', 'contains')
            "
            [value]="$any(dt1.filters['cpf_cnpj'])?.value"
            placeholder="Telefone"
            class="w-full"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt1.filter($any($event.target)?.value, 'endereco', 'contains')
            "
            [value]="$any(dt1.filters['endereco'])?.value"
            placeholder="Endereço"
            class="w-full"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field">
            {{ cliente[col.field] }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
