<p-toast></p-toast>
<p-dialog header="Adicionar produto" [(visible)]="display">
  <form [formGroup]="formProdutosPedido" (ngSubmit)="onSubmit()">
    <div class="field grid" style="max-width: 500px">
      <div class="col-12 mb-4">
        <label>Produto</label>
        <select formControlName="nome" pInputText class="p-2 w-full">
          <option *ngFor="let produto of produtos" [ngValue]="produto.produto">
            {{ produto["produto"] }}
          </option>
        </select>
      </div>
      <div class="col-12 mb-4">
        <label>Cor</label>
        <select formControlName="cor" pInputText class="p-2 w-full">
          <option value="Azul">Azul</option>
          <option value="Amarelo">Amarelo</option>
          <option value="Branco">Branco</option>
          <option value="Cinza">Cinza</option>
          <option value="Marrom">Marrom</option>
          <option value="Preto">Preto</option>
          <option value="Prata">Prata</option>
          <option value="Rosa">Rosa</option>
          <option value="Verde">Verde</option>
          <option value="Vermelho">Vermelho</option>
        </select>
      </div>
      <div class="col-12 mb-4">
        <label>Valor unitário</label>
        <input
          formControlName="preco"
          type="number"
          pInputText
          class="p-2 w-full"
        />
      </div>
      <div class="col-12 mb-4">
        <label>Quantidade</label>
        <input
          formControlName="quantidade"
          type="number"
          pInputText
          class="p-2 w-full"
        />
      </div>
      <div class="col-6">
        <button
          [disabled]="!formProdutosPedido.valid"
          pButton
          type="submit"
          label="Confirmar"
          class="p-button-sm bg-black-alpha-80 text-white border-none p-2 w-full"
        ></button>
      </div>
      <div class="col-6">
        <button
          (click)="display = false"
          pButton
          type="button"
          label="Cancelar"
          class="p-button-sm bg-black-alpha-80 text-white border-none p-2 w-full"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>
<button
  (click)="showDialog()"
  pButton
  type="button"
  title="Adicionar Produto"
  icon="pi pi-plus"
  class="p-button-sm bg-gray-900 text-white border-none mb-2"
></button>
